<div id="add_channel_modal" class="modal card">
  <div class="modal-content card-image">
    <div class="row">
      <%= form_tag("/dashboard/channels", :method => :post, class: "col s12 add_channel_form") do %>
        <div class="row">
          <div class="col s12">
            <h5 class="blue-text">Add new Channel</h5>
          </div>
          <div class="input-field col s12">
            <%= hidden_field(:channel, :cycle_id, value: @cycle.id ) %>
            <%= text_field(:channel, :slug) %>
            <%= label_tag(:email, "Channel Name") %>
            <%= submit_tag("Add Channel", class: "btn shadow green right") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>