<div id="add_user_modal" class="modal">
  <div class="modal-content">
    <div class="row">
      <%= form_tag("participations", :method => :post, class: "col s12 add_user_form") do %>
        <div class="row">
          <div class="col s12">
            <h4>Add a User</h4>
          </div>
          <div class="input-field col s12">
            <%= hidden_field(:participation, :cycle_id) %>
            <%= text_field(:participation, :email) %>
            <%= label_tag(:email, "User Email") %>
            <%= submit_tag("Add User", class: "btn right") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>