<%= form_for [:dashboard, @test], remote: true do |f| %>
	<div class="row">
		<div id="form_error"></div>
		<%= f.text_field :cycle_id, type: "hidden"  %>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :name  %>
			<label for="test_name">Name</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">date_range</i>
			<%= f.text_field :date, class: "datepicker", :onkeypress => "mascara(this, checaData)", maxlength: 10  %>
			<label for="test_date">Max Date</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">book</i>
			<%= f.collection_select :test_id, @test.cycle.tests.all.order("tests.name ASC"), :id, :name, { include_blank: "Empty" } %>
			<%= f.label :required %>
		</div>

		<div class="col s12 m12 l12" >
			<label>
				<%= f.check_box :dissertative, class: "filled-in checkbox"  %> 
				<span class="">Dissertative</span>
			</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<span class="f20 grey-text">Description</span>
			<%= f.cktext_area :description, as: :text, ckeditor: {language: 'pt'}  %>
		</div>

		<div class="action  ">
			<button type="submit" class="send btn shadow green dark small right">Save</button>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$(".datepicker").change(function(){
		M.updateTextFields();
	});
</script>