<tr>
  <td class="cod">
    <span>
      <%= test.id %>
    </span>
  </td>
  <td><%= test.name %></td>
  <td><%= "#{test.description}".html_safe %></td>
  <td><%= test.test.blank? ? "--" : test.test.name %></td>
  <td class="actions">
    <%= link_to edit_dashboard_test_path(test), class: "btn shadow blue small", title: "Editar #{test.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to dashboard_test_path(test), class: "btn shadow orange small", title: "Visualizar #{test.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <% if current_user.admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, dashboard_test_path(test), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{test.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>