<% if @test.errors.any? %>
	<% @test.errors.full_messages.each do |msg| %>
		M.toast({html: '<%= msg %>', classes: 'red'});
	<% end %>
<% else %>
		M.toast({html: 'Updated', classes: 'green'});
		$('input.checkbox').attr( "checked" ) 
<% end %>