<div class="container-fluid">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card " style="min-height: 400px;" >
        <div class="card-image">
          <img src="<%= @test.cycle.book.image.blank? ? '/images/missing.jpg' : @test.cycle.book.image.gsub('amp;','') %>" style="width: 100%; height: auto; ">
        </div>
      </div>
    </div>
    <div class="col s12 m6 l8">
		<%= link_to "Back to tests", dashboard_cycle_path(@test.cycle), class: "btn shadow blue" %>
      <ul class="collection">
        <li class="collection-item avatar">
          <i class="material-icons <%= (test_completed(@test) or test_actual(@test)) ? 'blue' : 'grey' %> circle <%= test_actual(@test) ? 'animated infinite pulse' : '' %>">filter_none</i>
          <span class="title span peso-5 <%= (test_completed(@test) or test_actual(@test)) ? 'blue-text' : 'grey-text' %>">
            <%= @test.name %>
          </span>
          <br>
          <span class="span f12">
            <%= "#{@test.description}".html_safe %>
          </span>
          <br><br>
          <% if test_completed @test %>
          <% elsif !@test.date.blank? %>
            <p>
              <span class="span f12"><%= "finish in #{l @test.date.to_date, format: :long}" %></span>
            </p>
          <% end %>
          <a class="secondary-content">
           <i class="<%= color(@test) %>-text material-icons"><%= (test_completed @test) ? 'star' : 'star_border' %></i>
          </a>
          <%= link_to dashboard_tests_complete_path(@test), disabled: true, method: "post", remote: true, data: { confirm: "Are you sure?" } do %>
		    <p>
		      <label>
		        <input class="checkbox" type="checkbox" <%= 'checked' if test_completed(@test) %> />
		        <span>Completed</span>
		      </label>
		    </p>
          <% end %>
        </li>
      </ul>
      	<% unless @completed.blank? %>
			<%= form_for [:dashboard, @completed], remote: true do |f| %>
				<div class="input-field col s12 m12 l12">
					<span class="f20 grey-text">Content</span>
					<%= f.cktext_area :content, as: :text, ckeditor: {language: 'pt'}  %>
				</div>
				<div class="action  ">
					<button type="submit" class="send btn shadow green dark small right">Save</button>
				</div>
			<% end %>
		<% end %>


    </div>
  </div>
</div>
