
		nav{
			z-index: 999;
			background-color: rgba(255, 255, 255, 0.80);
			position: fixed;
			label{
				i{
					color: #2196f3 !important;
				}
			}
			.logo{
				font-family: 'misery_gymnast';
				font-size: 3.2rem !important;
				text-shadow: 0 0 5px white;
				padding: 0 10px;
			}
			.logo-sys{
				position: absolute;
				right: 10%;
				color: #2196f3;
			}
			span.links{
				position: absolute;
				right: 30%;
				cursor: pointer;
				z-index: 1;
				display: flex;
				i{
					padding: 0 10px;
					margin: 0 7px;
				}

			}


			a.btn{
				background-color: #fff!important;
				border: 1px solid #000;
				color: black;
				transition: .5s;
				&:hover{
					border: 1px solid #fff;
					box-shadow: 0 2px 20px white;
				}
			}
		}