<div style="margin: 0% 15%; padding: 5%; background: #dedede; color: #555;">
	<%= "#{raw Setting.email_activity_deadline_coming_end}".gsub("@user", @user.name).gsub("@cycle", @cycle.slug).gsub("@test", @test.name).html_safe %>

	<%= link_to "Área de Membros", dashboard_cycle_url(@cycle), style: "text-decoration: none; cursor: pointer; line-height: 1.7; border-radius: 3px; background-color: #2196f3; color: white; padding: 10px; border: none; float: right;" %>

</div>
<br>
<div style="margin: 0% 15%; padding: 5%; background: #dedede;">
	<span style="color: #666;">
		<%= "#{@test.description}".html_safe %>
	</span>
	<%= link_to "Área de Membros", dashboard_cycle_url(@cycle), style: "text-decoration: none; cursor: pointer; line-height: 1.7; border-radius: 3px; background-color: #2196f3; color: white; padding: 10px; border: none; float: right;" %>
</div>