<tr>
  <td class="cod">
    <span>
      <%= author.id %>
    </span>
  </td>
  <td><%= author.name %></td>
  <td><%= "#{author.description}".html_safe %></td>
  <td><%= author.books.size %></td>
  <td class="actions">
    <%= link_to edit_dashboard_author_path(author), class: "btn shadow blue small", title: "Editar #{author.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to dashboard_author_path(author), class: "btn shadow orange small", title: "Visualizar #{author.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <% if current_user.admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, dashboard_author_path(author), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{author.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>