<%= form_for [:dashboard, @author], remote: true do |f| %>
	<div class="row">
		<div id="form_error"></div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :name  %>
			<label for="author_name">Name</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :description  %>
			<label for="author_description">Description</label>
		</div>


		<div class="input-field col s12 m12 l12">
			<span class="f20 grey-text">Biography</span>
			<%= f.cktext_area :biography, as: :text, ckeditor: {language: 'pt'}  %>
		</div>

		<div class="action  ">
			<button type="submit" class="send btn shadow green dark small right">Save</button>
		</div>
	</div>
<% end %>
