<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Name</th>
      <th>Description</th>
      <th>Books</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody id="item_list">
    <%= render @authors %>
  </tbody>
</table>
