<tr>
  <td class="cod">
    <span>
      <%= book.id %>
    </span>
  </td>
  <td>
      <img src="<%= book.image.blank? ? '/images/missing.jpg' : book.image %>" style="width: 40px; height: auto;">
  </td>
  <td>
    <%= book_name book %>
  </td>
  <td>
      <%= "#{book.description}".html_safe %>
    </td>
  <td><%= author_name book.author %></td>
  <td class="actions">
    <%= link_to edit_dashboard_book_path(book), class: "btn shadow blue small", title: "Editar #{book.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to dashboard_book_path(book), class: "btn shadow orange small", title: "Visualizar #{book.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
    <% if current_user.admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, dashboard_book_path(book), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red small", title: "Deletar #{book.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>