<%= form_for [:dashboard, @book], remote: true do |f| %>
	<div id="book_form" class="row">
		<div id="form_error"></div>

		<div class="input-field col s12 m12 l2">
			<img id="book_img" src="<%= @book.image.blank? ? '/images/missing.jpg' : @book.image %>" style="width: 100px; height: auto;">
		</div>
		<div class="input-field col s12 m12 l10">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :name, placeholder: "Press <enter> to scrape"  %>
			<label for="book_name" class="active">Name</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :description  %>
			<label for="book_description">Description</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">link</i>
			<%= f.text_field :link  %>
			<label for="book_link">Link</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">link</i>
			<%= f.text_field :scraping  %>
			<label for="book_link">Web Scraping in</label>
		</div>
		<%= f.text_field :image, type: "hidden"  %>
		<%= f.text_field :features, type: "hidden"  %>

		<div class="col s12 m12 l12">
			<div class="row layout claro"  style="max-height: 300px; overflow-y: scroll;">
				<div class="input-field col s12 m12 l6">
					<i class="material-icons prefix">person</i>
					<%= f.text_field :author, name: "author", value: (author_name @book.author)  %>
					<%= f.text_field :author_id, type: "hidden"  %>
					<label for="book_author">Author</label>
				</div>
				<div class="col s12 m12 l6">
				    <ul id="list_authors" class="collection"  style="max-height: 200px; overflow-y: scroll;">
				    </ul>
				</div>
			</div>
		</div>

		<div class="col s12 m12 l12">
			<div id="book_characteristics"></div>
		</div>


		<div class="action  ">
			<button type="submit" class="send btn shadow green dark small right" >Save</button>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$("#book_author").keypress(function(){
		if (event.keyCode == 13){
			$("#list_authors").removeClass("animated tada");
			var name = $(this).val();
			$.ajax({
				url: "/dashboard/books/get_authors",
				method: "get",
				dataType: "script",
				data: {
					'name': 		name
				}
			});
			return false;
		}
	});
</script>

<script type="text/javascript">
	$("#book_name").keypress(function(){
		$("#book_characteristics").removeClass("animated bounceInDown");
		if (event.keyCode == 13){
		$("#book_form").addClass("animated bounceOutRight");
			var name = $(this).val();
			$.ajax({
				url: "/dashboard/books/get_book",
				method: "get",
				dataType: "script",
				data: {
					'title': 		name
				}

			});
			return false;
		}
	});
</script>