<ul class="collection animated zoomInUp">
<li class="collection-header"><h5 class="blue-text">Characteristics</h5></li>
<% features.each do |key, value| %>
        <li class="collection-item">
          <div class="row">
            <div class="col s6 m6 l6">
              <%= key %>
            </div>
            <div class="col s6 m6 l6">
              <%= value %>
            </div>
          </div>
        </li>
<% end %>
</ul>