<% @authors.each do |author| %>
  <li class="<%= 'selected' if author == @authors.first %> collection-item author_id" code="<%= author.id %>">
    <%= author.name.titleize %>
    <span class="span"><%= pluralize(author.books.size, 'book', 'books') %></span>
  </li>
<% end %>


<style type="text/css">
  .selected{
    background-color: #a5d6a7 !important;
  }
  .collection-item{
    cursor: pointer;
  }
</style>


<script type="text/javascript">
  $(".author_id").click(function(){
    var code = $(this).attr("code");
    $("#book_author_id").val(code);
    $(".collection-item").removeClass("selected");
    $(this).addClass("selected");
  });
</script>