<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Código</th>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody id="item_list">
    <%= render @books %>
  </tbody>
</table>
