<div class="container">
	<h5 class="span f18 grey-text">Editing <%= book_name @book %></h5>
	<%= render "form" %>

	<br>
	<h5 class="span f18 grey-text">Characteristics </h5>
	<%= render "list_features", features: @features %>

</div>