<% unless @list.blank? %>
	$("#book_name").val('<%= @list[:title] %>');
	$("#book_author").val('<%= @list[:author] %>');
	$("#book_scraping").val('<%= @list[:link] %>');
	$("#book_description").val('<%= @list[:description] %>');
	$("#book_image").val('<%= @list[:image] %>');
	$("#book_img").attr('src', '<%= @list[:image] %>');
	$("#book_characteristics").html("<%= j( render 'list_features', features: @features  )%>").addClass("animated bounceInDown");
	$("#book_features").val('<%= @features %>');
<% end %>


setTimeout(function(){
	$("#book_form").removeClass("animated bounceOutRight");
	$("#book_form").addClass("animated bounceInLeft");
}, 100);
	$(".send").css("position","fixed")
M.updateTextFields();