$("#list_authors").html("<%= j( render 'list_authors'  )%>").addClass("animated tada");


<% unless @authors.blank? %>
	$("#book_author_id").val("<%= @authors.first.id %>")
<% else %>
	M.toast({html: 'Nothing found', classes: 'blue'}); 
<% end %>