<div class="container-fluid">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card " style="min-height: 400px;" >
        <div class="card-image">
          <img src="<%= @book.image.blank? ? '/images/missing.jpg' : @book.image.gsub('amp;','') %>" style="width: 100%; height: auto; ">
        </div>
      </div>
    </div>
    <div class="col s12 m6 l8">
    <a onclick="window.history.back();" class="btn shadow blue">Back</a>
        <ul id="right_content" class="collection animated zoomIn">
              <li class="collection-header margin-left-15 "><h5 class="orange-text f25"><%= book_name @book %></h5></li>
          <li class="collection-item animated zoomInRight delay-200">
            <br><br>
            <strong>Description: </strong>
          <span class="span">
            <%= book_description(@book) %>
            <br><br>
          </span>
            <strong>Author:</strong>
            <span class="span">
              <%= author_name @book.author %>
            </span>
          </li>
          <li class="collection-item animated zoomInRight delay-300">
            <strong>Link: </strong>
            <a href="<%= book_link(@book) %>" target="_blank">
              <%= book_name(@book) %>
            </a>
          </li>
        </ul>
    </div>
  </div>
            <%= render "list_features", features: @book.features %>
</div>
