<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Phone</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody id="item_list">
    <%= render @users %>
  </tbody>
</table>
