<tr>
  <td class="cod">
    <span>
      <%= user.id %>
    </span>
  </td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td class="actions">
    <%= link_to edit_dashboard_user_path(user), class: "btn shadow blue small", title: "Editar #{user.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to dashboard_user_path(user), class: "btn shadow orange small", title: "Visualizar #{user.name}", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>search</i>
    <% end %>
  </td>
</tr>