<nav>
  <div class="nav-wrapper container">
  <a href="/" class="brand-logo"><img src="/images/logo.png" class="logo"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/">Sobre Nós</a></li>
      <li><a href="/">Serviços</a></li>
      <li><a href="/">Contato</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
  <li><a href="/">Sobre Nós</a></li>
  <li><a href="/">Serviços</a></li>
  <li><a href="/">Contato</a></li>
</ul>


<div id="home-content">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2  l6 offset-l3">
        <br><h5 class="blue-text center peso-7">Treinamento Sweet Leads</h5><br>
        <%= render "/pages/login" %>
      </div>
    </div>
  </div>
</div>