<div class="container-fluid">
	

	<div class="row">
		<% actual_cycles.each do |cycle| %>
			<div class="col s12 m6 l4">
	      		<div class="card animated zoomInDown" style="min-height: 400px;" >
	        		<div class="card-image">
						<img src="<%= cycle.book.image.blank? ? '/images/missing.jpg' : cycle.book.image.gsub('amp;','') %>" style="width: 100%; height: auto; ">
					</div>
	      		</div>
			</div>
			<div class="col s12 m6 l8">
				<ul id="right_content" class="collection animated zoomIn">
			        <li class="collection-header margin-left-15 "><h5 class="orange-text f25"><%= "#{cycle.id}º cycle" %></h5></li>
					<li class="collection-item animated zoomInRight delay-300">
						<strong>Book: </strong>
						<span class="span">
							<%= book_name cycle.book %>
						</span>
						<br>
						<% unless book_link(cycle.book).blank? %>
							<a href="<%= book_link cycle.book %>" target="_blank">Link</a> 
						<% end %>
						<br><br>
						<strong>Description: </strong>
					<span class="span">
						<%= book_description(cycle.book) %>
						<br><br>
					</span>
						<strong>Author:</strong>
						<span class="span">
							<%= author_name cycle.book.author %>
						</span>
					</li>
					<li class="collection-item animated zoomInRight delay-400">
					<span class="span">
						<strong>description: </strong> <%= cycle_description cycle %>
					</span>
					<br><br>
					<span class="span">
						<strong>duration: </strong> <%= cycle_period cycle %>
					</span>
					</li>
					<li class="collection-item animated zoomInRight delay-500">
						<div class="row no-margin">
							<div class="col s12 m6 l6">
								<strong>Participations: </strong> 
								<span class="span">
									<%= link_to "#{cycle.participations.size}", "", class: "btn blue shadow" %>
								</span>
							</div>
							<% unless cycle_joined cycle %>
								<div class="col s12 m6 l6">
									<a id="set_participation" code="<%= cycle.id %>" class="btn shadow green right">Participar</a>
								</div>
							<% end %>
						</div>
					</li>
					<% if cycle_joined cycle %>
						<li class="collection-item animated zoomInRight delay-600">
							<div class="row no-margin">
								<div class="col s12 m6 l6">
									<%= link_to "<i class='material-icons blue-text'>thumb_up</i>".html_safe, "", class: "btn btn-floating white shadow-off" %>
									<%= link_to "<i class='material-icons blue-text'>thumb_down</i>".html_safe, "", class: "btn btn-floating white shadow-off" %>
								</div>
								<div class="col s12 m6 l6">
									<p class="right cursor">
										<%= link_to "channels", dashboard_cycles_channels_path(cycle), method: "get", class: "peso-6 f20" %>
										&nbsp;&nbsp;&nbsp;&nbsp;
										<%= link_to dashboard_cycle_path(cycle) do %>
											<span class="span blue-text f20 peso-6">let's do it</span>
										<% end %>
									</p>
								</div>
							</div>
						</li>
					<% end %>
				</ul>

			</div>
		<% end %>
	</div>
</div>


<script type="text/javascript">

	$("#set_participation").click(function(){
		var cycle = $(this).attr("code");
		$.ajax({
			url: "/dashboard/participations",
			type: "POST",
			dataType: "script",
			data: {
				'participation': {
					'cycle_id': 			cycle
				}
			} 
		});
	});
</script>