<div class="container">
	<br>
	<h5 class="blue-text">Editing Current User - <%= current_user.name %></h5>
	<br>
	<%= form_for [:dashboard, current_user], remote: true do |f| %>
		<div class="row">
			<div id="form_error"></div>

			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">person</i>
				<%= f.text_field :name  %>
				<label for="user_name">Name</label>
			</div>

			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">email</i>
				<%= f.text_field :email  %>
				<label for="user_email">E-mail</label>
			</div>

			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">phone</i>
				<%= f.text_field :phone, :onkeypress => "mascara(this, checaTelefone)", maxlength: 15  %>
				<label for="user_phone">Phone</label>
			</div>

			<div class="input-field col s12 m12 l12">
				<i class="material-icons prefix">lock</i>
				<%= f.password_field :password   %>
				<label for="user_password" class="active">Password</label>
			</div>
			<div class="action  ">
				<button type="submit" class="send btn shadow green dark small right">Save</button>
			</div>
		</div>
<% end %>
</div>
