<div class="container">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="layout">
				<span class="span f12">
				Use <br>
				@user for the username. Eg.: Welcome <strong class="grey-text text-darken-2">@user</strong> will become Welcome <strong class="grey-text text-darken-2"> <%= current_user.name %></strong><br>
				@cycle for cycle name <br>
				@test for test name (activity from cycle)
				</span>
		
			</div>
		</div>
		<div class="col s12 m12 l12">
			<div class="row">
				<%= form_for dashboard_save_settings_path, method: :post, url: dashboard_save_settings_path, remote: true do |f| %>

					<div class="field">
						<div class="input-field col s12">
							<p>Title - Confirmation</p>
							<%= f.text_field :email_confirmation_commitment_subject, name: :email_confirmation_commitment_subject, value: Setting.email_confirmation_commitment_subject %>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12">
						<p>Confirmation E-mail of Commitment to Cycle</p>
        				<%= f.cktext_area :email_confirmation_commitment, name: :email_confirmation_commitment, as: :text, ckeditor: {language: 'pt'}, value: Setting.email_confirmation_commitment %>
						</div>
					</div>

					<div class="field">
						<div class="input-field col s12">
							<p>Title - Task Completed</p>
							<%= f.text_field :email_activity_completion_subject, name: :email_activity_completion_subject, value: Setting.email_activity_completion_subject %>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12">
						<p>Task Completed E-mail</p>
        				<%= f.cktext_area :email_activity_completion, name: :email_activity_completion, as: :text, ckeditor: {language: 'pt'}, value: Setting.email_activity_completion %>
						</div>
					</div>


					<div class="field">
						<div class="input-field col s12">
							<p>Title - Deadline coming to end</p>
							<%= f.text_field :email_activity_deadline_coming_end_subject, name: :email_activity_deadline_coming_end_subject, value: Setting.email_activity_deadline_coming_end_subject %>
						</div>
					</div>
					<div class="field">
						<div class="input-field col s12">
						<p>E-mail Task deadline coming to end</p>
        				<%= f.cktext_area :email_activity_deadline_coming_end, name: :email_activity_deadline_coming_end, as: :text, ckeditor: {language: 'pt'}, value: Setting.email_activity_deadline_coming_end %>
						</div>
					</div>


					<div class="action  ">
						<button type="submit" class="send btn shadow green dark small right">Save</button>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

