<tr>
  <td class="cod">
    <span>
      <%= cycle.id %>
    </span>
  </td>
  <td>
    <img src="<%= cycle.book.image.blank? ? '/images/missing.jpg' : cycle.book.image %>" style="width: 40px; height: auto;">
    <%= book_name cycle.book %>
  </td>
  <td><%= author_name cycle.book.author %></td>
  <td><%= "#{cycle.description}".html_safe %></td>
  <td class="actions">
    <%= link_to edit_dashboard_cycle_path(cycle), class: "btn shadow blue ", title: "Editar Cycle", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>edit</i>
    <% end %>
    <%= link_to dashboard_cycles_members_path(cycle), class: "btn shadow orange ", title: "Visualizar Cycle", 'data-toggle' => 'tooltip', 'data-placement' => 'top' do %>
      <i class='material-icons'>insert_chart</i>
    <% end %>
    <% if current_user.admin %>
      <%= link_to "<i class='material-icons prefix'>delete</i>".html_safe, dashboard_cycle_path(cycle), remote: true, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn shadow red ", title: "Deletar Cycle", 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
    <% end %>
  </td>
</tr>