<%= form_for [:dashboard, @cycle], remote: true do |f| %>
	<div class="row">
		<div id="form_error"></div>
		<%= f.text_field :user_id, type: "hidden", value: current_user.id  %>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :slug  %>
			<label for="cycle_slug">Slug</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">arrow_forward</i>
			<%= f.text_field :description  %>
			<label for="cycle_description">Description</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">book</i>
			<%= f.collection_select :book_id, Book.all.order("books.name ASC"), :id, :name_with_author, { prompt: "--" } %>
			<%= f.label :book %>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">date_range</i>
			<%= f.text_field :start_date, class: "datepicker", :onkeypress => "mascara(this, checaData)", maxlength: 10  %>
			<label for="cycle_start_date">Start Date</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<i class="material-icons prefix">date_range</i>
			<%= f.text_field :end_date, class: "datepicker", :onkeypress => "mascara(this, checaData)", maxlength: 10  %>
			<label for="cycle_end_date">End Date</label>
		</div>

		<div class="input-field col s12 m12 l12">
			<span class="f20 grey-text">Notes</span>
			<%= f.cktext_area :notes, as: :text, ckeditor: {language: 'pt'}, value: @cycle.notes  %>
		</div>

		<div class="input-field col s12 m12 l12">
			<span class="f20 grey-text">Links</span>
			<%= f.cktext_area :links, as: :text, ckeditor: {language: 'pt'}, value: @cycle.links  %>
		</div>

		<div class="action  ">
			<button type="submit" class="send btn shadow green dark small right" style="z-index: 9;">Save</button>
		</div>
	</div>
<% end %>

<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script type="text/javascript">
	$(".datepicker").change(function(){
		M.updateTextFields();
	});
</script>