<ul class="collection with-header channels">
   <li class="collection-header">
      <div class="row">
         <div class="col s12 m8 l8">
            <h5 class="purple-text f15 ">Channels</h5>
         </div>
         <div class="col s12 m4 l4">
            <a href="#" class="add_channel btn btn-floating white">
               <i class="material-icons green-text">add</i>
            </a>
         </div>
      </div>
   </li>
   <% cycle.channels.each do |channel| %>
      <li class=" collection-item channel_<%= channel.id %>" channel="<%= channel.id %>">
         <a href="#" class="open_channel">
            <span id="<%= channel.id %>" class="span f12" >#<%= channel.slug %></span>
         </a>
         <% if can? :destroy, channel and channel.slug != 'general' %>
            <a class="right remove_channel" href="#" id="<%= channel.id %>">
               <i class="material-icons" id="<%= channel.id %>">settings</i>
            </a>
         <% end %>
      </li>
   <% end %>
</ul>


<ul class="collection with-header users">
   <li>
      <input type="hidden" name="cycle_id" class="cycle_id" value="<%= cycle.id %>">
   </li>
   <li class="collection-header"><h5 class="blue-text f15">Direct Messages</h5></li>
   <% cycle.my_users.each do |user| %>
      <% if user != current_user %>
         <li class="user_<%= user.id %> collection-item">
            <a id="<%= user.id %>" class="open_user cursor">
               <span id="<%= user.id %>" class="span f12">#<%= user.name.downcase.gsub(' ','_') %></span>
            </a>
         </li>
      <% end %>
   <% end %>
</ul>
