<div class="row chat layout claro margin-15 animated zoomInDown">
  <div class="col s12 m9 l9">
    <div class="margin-top-15 margin-left-15 channel_name_box">
      <p class="chat_name span f12"></p>
    </div>
    <div class="row">
      <div class="messages ">
        <!-- Here come the messages injected by coffee -->
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix animated bounceInRight">mode_edit</i>
            <input id="send_message" type="text" name="" class="animated bounceInLeft new_message">
            <label for="send_message" class="active">Send a Message...</label>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m3 l3">
    <%= link_to dashboard_cycle_path(@cycle), class: "btn shadow blue downcase" do %>
      let's do it
    <% end %>
    <%= render "sidebar", cycle: @cycle %>
  </div>
</div>



<script type="text/javascript">
jQuery(function($) {
    $('.messages').on('scroll', function() {
        if($(this).scrollTop() == "0") {
            var messagable_id = $("#messagable").attr("messagable_id");
            var messagable_type = $("#messagable").attr("messagable_type");
            var scroll_back = $('.messages').prop("scrollHeight");
            $.ajax({
              url: "/dashboard/"+messagable_type+"/scroll/"+messagable_id,
              contentType: 'application/json',
              method: "get",
              dataType: 'json',
              data: {
              },
              success: function(data, text, jqXHR) {
                if (data['messages']) {
                  ref = data['messages'];
                  results = [];
                  for (i = 0, len = ref.length; i < len; i++) {
                    message = ref[i];
                    results.push((function() {
                    $(".messages").animate({
                      scrollTop: ($('.messages').prop("scrollHeight"))-scroll_back
                    }, 1);
                      console.log(parseInt(data['scroll_back']));
                      return window.prepend_message(message['body'], message['date'], message['user']['name']);
                    })());
                  }
                  return results;
                }
              },
              error: function(jqXHR, textStatus, errorThrown) {
                return M.toast({
                  html: 'Problem to get ' + type + ' informations &nbsp;<b>:(</b>',
                  classes: 'green'
                });
              }
            });
        }
    })
});
</script>