<div class="container-fluid">
	<div class="row">
		<div class="col s12 m12 l8">
			<h5 class="span f18 grey-text">Editing <%= cycle_name @cycle %></h5>
			<%= render "form" %>
		</div>
		<div class="col s12 m12 l4">
			<br><br><br>
			<div class="collection margin-top-15">
				<div class="row">
					<div class="col s12 m12 l6">
			    		<h5 class="blue-text margin-15 f20">Tests</h5>
					</div>
					<div class="col s12 m12 l6">
						<%= link_to "New test", new_dashboard_test_path(cycle_id: @cycle.id), class: "btn shadow green" %>
					</div>
				</div>
				<% @cycle.tests.ordered.each do |test| %>
					<%= link_to edit_dashboard_test_path(test), class: "collection-item orange-text" do %>
						<%= test.name %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>


</div>