<br>
<div class="layout claro">
  
<div class="row">
  <div class="col s12 m12 l12">
    <%= link_to "New Cycle".html_safe, new_dashboard_cycle_path(), class: "btn shadow green" %>
  </div>
</div>

<div class="row ">
  <div class="input-field col s12 m6 l3">
    <input id="code" type="text" class="validate">
    <label class="active" for="code">Code</label>
  </div>
  <div class="input-field col s12 m6 l3">
    <input id="name" type="text" class="validate">
    <label class="active" for="name">Name</label>
  </div>
  <div class="input-field col s12 m6 l3">
    <a id="buscar" class="btn shadow black small">Buscar</a>
  </div>
</div>
<div class="row ">
  
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m12 l12">
            <div id="cycle_list">
              <%= render "list" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
  $("#buscar").click(function(){
    $("#cycle_list").removeClass("animated tada");
    var code = $("#code").val();
    var name = $("#name").val();
    $.ajax({
      url: "/dashboard/cycles",
      method: "get",
      dataType: "script",
      data: {
        'id':       code,
        'name':     name
      }
    });
  });
$("input").keypress(function() {
    if (event.which == 13) $("a#buscar").trigger( "click" )
});
</script>