<div class="container-fluid">
  <div class="row">
    <% @users.each do |user| %>
      <div class="col s12 m12 l4">
        <div class="card">
          <div class="card-image">
            <span class="span blue-text">
              <%= user.name %><br>
              <%= pie_chart user_tests_cycle_completed(user, @cycle) %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


