<div class="container-fluid">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card " style="min-height: 400px;" >
        <div class="card-image">
          <a href="<%= @cycle.book.link %>" target="_blank">
            <img src="<%= @cycle.book.image.blank? ? '/images/missing.jpg' : @cycle.book.image.gsub('amp;','') %>" style="width: 100%; height: auto; ">
          </a>
          <% unless @cycle.book.link.blank? %>
            <div class="layout claro" style="overflow-x: scroll;">
              <span class="span blue-text">
                Link to book  <br>
              </span>
              <a href="<%= @cycle.book.link %>" target="_blank" class="purple-text"><%= @cycle.book.name %></a>
            </div>
          <% end %>
          <% unless @cycle.links.blank? %>
            <div class="layout claro" style="overflow-x: scroll;">
              <span class="span blue-text">
                Other Links <br>
              </span>
              <%= "#{@cycle.links}".html_safe %>
            </div>
          <% end %>
          <% unless @cycle.notes.blank? %>
            <div class="layout claro" style="overflow-x: scroll;">
              <span class="span blue-text">
                Notes <br>
              </span>
              <%= "#{@cycle.notes}".html_safe %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l8">
      <%= link_to "More about the book", dashboard_book_path(@cycle.book), class: "btn shadow blue" %>
      <%= link_to_if !@cycle.blank?, "Cycle channel", dashboard_cycles_channels_path(@cycle), class: "btn shadow blue no-border" %>
      <ul class="collection">
        <% @cycle.tests.ordered.each_with_index do |test, index| %>
          <%= link_to dashboard_test_path(test) do %>
            <li id="test_<%= test.id %>" class="collection-item avatar animated zoomInRight delay-<%= index*100 %>">
              <i class="material-icons <%= (test_completed(test) or test_actual(test)) ? 'blue' : 'grey' %> circle <%= test_actual(test) ? 'animated infinite pulse' : '' %>">filter_<%= index+1%></i>
              <span class="title span peso-5 <%= (test_completed(test) or test_actual(test)) ? 'blue-text' : 'grey-text' %>">
                <%= test.name %>
              </span>
              <% if test_completed test %>
                <p>
                  <span class="span f15 peso-5 green-text"><%= "COMPLETED" %></span>
                </p>
              <% elsif !test.date.blank? %>
                <p>
                  <span class="span f12"><%= "finish in #{l test.date.to_date, format: :long}" %></span>
                </p>
              <% end %>
              <a class="secondary-content">
                <i class="<%= color(test) %>-text material-icons"><%= (test_completed test) ? 'star' : 'star_border' %></i>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
