<nav>
  <div class="nav-wrapper">
    <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons blue-text">menu</i></a>
    <span class="links">
      <i class="material-icons open-dialog purple-text">home</i>
      <i class="material-icons open-dialog blue-text">mail</i>
      <i class="material-icons open-dialog amber-text">perm_contact_calendar</i>
      <i class="material-icons open-dialog red-text">notifications</i>
      <i class="material-icons open-dialog green-text">help</i>
    </span>
    <div class="input-field hide-on-med-and-down">
      <input id="pesquisa" type="search">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </div>
</nav>


<ul class="sidenav" id="mobile-demo">
  <li><%= link_to "Home <i class='material-icons'>home</i>".html_safe, dashboard_home_path %></li>
  <hr>
  <% if current_user.admin %>
	<li><%= link_to "Users <i class='material-icons'>people</i>".html_safe, dashboard_users_path %></li>
	<li><%= link_to "Authors <i class='material-icons'>person_pin</i>".html_safe, dashboard_authors_path %></li>
	<li><%= link_to "Books <i class='material-icons'>book</i>".html_safe, dashboard_books_path %></li>
  <li><%= link_to "Cycles <i class='material-icons'>autorenew</i>".html_safe, dashboard_cycles_path %></li>
  <li><%= link_to "Tests <i class='material-icons'>insert_drive_file</i>".html_safe, dashboard_tests_path %></li>
  <li><%= link_to "Settings <i class='material-icons'>settings</i>".html_safe, dashboard_settings_path %></li>
  <% end %>
  <hr>
	<li><%= link_to "Profile <i class='material-icons'>person</i>".html_safe, dashboard_perfil_path %></li>
	<li><%= link_to "Logout <i class='material-icons'>exit_to_app</i>".html_safe, destroy_user_session_path, :method => :delete %></li>
</ul>




<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><%= link_to "Home <i class='material-icons'>home</i>".html_safe, dashboard_home_path %></li>
  <hr>
  <% if current_user.admin %>
	<li><%= link_to "Users <i class='material-icons'>people</i>".html_safe, dashboard_users_path %></li>
	<li><%= link_to "Authors <i class='material-icons'>person_pin</i>".html_safe, dashboard_authors_path %></li>
	<li><%= link_to "Books <i class='material-icons'>book</i>".html_safe, dashboard_books_path %></li>
  <li><%= link_to "Cycles <i class='material-icons'>autorenew</i>".html_safe, dashboard_cycles_path %></li>
  <li><%= link_to "Tests <i class='material-icons'>insert_drive_file</i>".html_safe, dashboard_tests_path %></li>
  <li><%= link_to "Settings <i class='material-icons'>settings</i>".html_safe, dashboard_settings_path %></li>
  <% end %>
  <hr>
	<li><%= link_to "Profile <i class='material-icons'>person</i>".html_safe, dashboard_perfil_path %></li>
	<li><%= link_to "Logout <i class='material-icons'>exit_to_app</i>".html_safe, destroy_user_session_path, :method => :delete %></li>
</ul>
