<!DOCTYPE html>
<html>
  <head>
    <title>SweetLeads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

    <%= favicon_link_tag '/favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div id="dialog" title=""></div>
    <header>
      <%= render "/dashboard/shared/navbar" %>
    </header>
    <main>
      <div id="main-content">
        <br><br><br>
        <%= yield %>
      </div>
    </main>
    <!-- logged partials -->
    <% if current_user %>
      <% if @cycle %>
        <%= render "/dashboard/channels/add_modal" %>
        <%= render "/dashboard/channels/remove_modal" %>
      <% end %>
    <% end %>


    <% flash.each do |message_type, message| %>
      <% if message_type == 'alert' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'red'})" %>
      <% else message_type == 'notice' %>
        <%= javascript_tag "M.toast({html: '#{message}', classes: 'green'})" %>
      <% end %>
    <% end %>

  </body>
</html>
